.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: var(--color__bg);
	--shadow__poke_text: -0.15em 0.15em 0 var(--color__shadow),
						0.05em -0.05em 0 var(--color__text__passive);
}
	.glossary {
		flex: 0 0 30em;
	}
		.pokemon-list {
			padding: var(--item_shadow_size) 0 0 var(--item_shadow_size);
			list-style-type: none;
			--item_shadow_size: 0.75em;
		}
			.item {
				width: 90%;
				position: relative;
			}
				.pokemon-input {
					position: absolute;
					opacity: 0;
				}
				.label {
					display: flex;
					padding: 1em;
					border-radius: 0.25em;
					position: relative;
					z-index: 1;
					color: var(--color__text);
					align-items: center;
					background-color: transparent;
					box-shadow: 0 0 var(--item_shadow_size) 0 rgba(0,0,0,0);
					transition: background-color .3s,
								box-shadow .3s;
					--sprite_height: 2.62em;
				}
				.pokemon-input:not(:checked) ~ .label:hover,
				.pokemon-input:not(:checked):focus ~ .label {
					z-index: 2;
					background-color: var(--color__bg__alt);
					box-shadow: 0 0 var(--item_shadow_size) 0 rgba(0,0,0,0.2);
					cursor: pointer;
				}
				.pokemon-input:disabled ~ .label {
					opacity: 0.3;
					pointer-events: none;
				}
				.pokemon-input:checked ~ .label {}
					.label::before {
						content: "";
						display: inline-block;
						height: var(--sprite_height);
						width: 0.38em;
						margin-right: 0.62em;
						position: absolute;
						top: 0
						left: 0;
						background-color: var(--color__accent);
						transform: scaleX(0);
						transform-origin: 0% 50%;
						transition: transform .3s;
					}
					.pokemon-input:checked ~ .label::before {
						transform: scaleX(1);
					} 
					.idle-sprite {
						content: "";
						display: inline-block;
						font-size: var(--sprite_height);
						height: 1em;
						width: 1em;
						background-size: contain;
						background-position: right center;
						background-repeat: no-repeat;
					}
					.label .name {
						display: inline-block;
						margin-left: 0.62em;
						position: relative;
						top: 0.3em;
					}
						.id-tag {
							font-size: 0.62em;
							position: absolute;
							top: 0;
							right: -0.62em;
							transform: translateX(100%);
							color: var(--color__text__passive);
							text-shadow: none;
						}
					.idle-sprite,
					.label .name {
						transform: translateX(0);
						transition: transform .3s;
					}
					.pokemon-input ~ .label:hover .idle-sprite,
					.pokemon-input:focus ~ .label .idle-sprite,
					.pokemon-input:checked ~ .label .idle-sprite,
					.pokemon-input ~ .label:hover .name,
					.pokemon-input:focus ~ .label .name,
					.pokemon-input:checked ~ .label .name {
						color: var(--color__pikachu);
						text-shadow: var(--shadow__poke_text);
						transform: translateX(0.5em);
					}

					.pokemon-input:disabled ~ .label .idle-sprite {
						filter: brightness(0);
					}
	.details {
		flex: 1 1 auto;
		height: 100%;
		font-size: 1rem;
	}
		.intro {
			display: flex;
			height: 100%;
			width: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		.intro[aria-hidden="false"] {
			display: flex;
		}
		.intro[aria-hidden="true"] {
			display: none;
		}
			.logo {
				margin-bottom: 0.62em;
			}
				.heading .image {
					display: block;
					height: 2.62em;
					margin: 0 auto;
				}
			.title {
				text-transform: lowercase;
				font-weight: 900;
				color: var(--color__accent);
				font-size: 1;
			}
				.title::before {
					content: "";
					display: block;
					font-size: 4.25em;
					height: 1em;
					width: 1em;
					margin: 0 auto;
					background: url(./../assets/2d/logos/icon__pokedex.svg) center / contain no-repeat;
				}
				.title .text {
					display: inline-block;
					margin-top: 0.62em;
				}
		.container {
			height: 100%;
			padding: 1.62rem;
			flex-direction: column;
			overflow-y: auto;
		}
		.container[aria-hidden="false"] {
			display: flex;
		}
		.container[aria-hidden="true"] {
			display: none;
		}
			.container .heading {
				margin-bottom: 0.62em;
				color: var(--color__pikachu);
				text-shadow: var(--shadow__poke_text);
			}
			.stats {
				display: grid;
				margin-bottom: 1em;
				grid-template-columns: 10em auto;
				grid-template-rows: auto;
			}
				.stat {
					grid-column: 1 / 2;
					text-align: right;
				}
				.value {
					grid-column: 2 / 3;
					display: flex;
					margin-left: 1em;
					align-items: center;
					text-align: left;
				}
					.value::after {
						display: inline-block;
						margin-left: 0.5em;
					}
					.value.height::after {
						content: "cm";
					}
					.value.weight::after {
						content: "kg";
					}
					.types {
						list-style-type: none;
					}
						.type {
							display: inline-block;
							padding: 0.62em 1em;
							border-radius: 0.3em;
							vertical-align: top;
							position: relative;
							background-color: #ccc;
						}
							.type::after {
								content: "";
								display: block;
								width: 100%;
								height: 50%;
								position: absolute;
								bottom: 0;
								left: 0;
								z-index: 0;
								background-color: rgba(255,255,255,0.15);
							}
							.type .text {
								position: relative;
								z-index: 1;
							}
						.type + .type {
							margin-left: 0.62em;

						}
						.type[data-type="grass"]{
							background-color: var(--color__element__grass);
						}
						.type[data-type="poison"]{
							background-color: var(--color__element__poision);
						}
			.media {
				flex: 1 0 auto;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
				.asset {
					order: 2;
					width: 100%;
					padding: 2.62em;
					margin-top: 2.62em;
					text-align: center;
					background-color: var(--color__bg__alt);
					box-shadow: -0.62em  0.62em 0 0 #ddd,
								 0.62em -0.62em 0 0 #eee;
				}
					.asset .image {
						max-width: 100%;
						max-height: 30vh;
						height: auto;
						object-fit: contain;
						object-position: center;
						filter: drop-shadow(-1em 1em var(--color__text)) 
								drop-shadow(1em -1em var(--color__text__passive));
					}
				.caption {
					order: 1;
					margin-top: 1.62em;
				}

@media(max-width: 1024px){
	.glossary {
		flex-basis: 20em;
	}
	.details {}
		.container {
			font-size: 0.8em;
		}
}